<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Generador de Contrato</title>
</head>
<body>
    <h1>Formulario de Contrato</h1>
    <form method="POST">
        <p>Nombre: <input type="text" name="nombre" required></p>
        <p>DNI: <input type="text" name="dni" required></p>
        <p>Residencia: <input type="text" name="residencia" required></p>
        <p>Número de trastero: <input type="number" name="trastero" required></p>
        <p>Superficie: <input type="text" name="superficie" required></p>
        <p>Fecha de inicio: <input type="text" name="fechainicio" required></p>
        <p>Fecha de finalización: <input type="text" name="fechafinal" required></p>
        <p>Precio completo: <input type="text" name="precio" required></p>
        <p>Fecha de firma: <input type="text" name="fechafirma" required></p>
        <button type="submit">Generar PDF</button>
    </form>
</body>
</html>
